<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

Selected: {{period}}

{{#button-select selected=period}}
  {{button-option label='Week' value='week'}}
  {{button-option label='Month' value='month'}}
  {{button-option label='Year' value='year'}}
{{/button-select}}
